
picture .main-image {
    width: 100%;
}





body {
    background-color: #ffffff;


}

@media screen and (max-width: 800px) {
    .navbaritem {
        display: none;
    }
}



a{
    text-decoration: none;
}


a:visited{
    color:rgb(192, 145, 166);
}
a:hover{
    text-decoration: underline;
    

}

@media screen and (min-width:800px) {
    nav .burger-icon img {
        display: none;
    }
   
}





/* Nav component styles */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: 0px;
}
nav .nav-title {
    flex-grow: 1;
}
nav h3 {
    margin-top:13px;
    margin-left:3px;
}
nav .burger-icon img {
    width: 40px;
}
nav .burger-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    right: 20px;
    top: 30px;
    background-color: #dadada3a;
}
nav .visible {
    display:block;
}
nav .menuitem {
    padding: 15px;
}
nav a {
    color: #000000;

}
nav > .home img {
    width: 40px;
}
nav .home{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav .home :hover{
    text-decoration: none;
}
.navbaritem {
    margin: 5px 5px 5px 5px;
}






#home {
    border-radius: 8px;

}

section {
    padding: 20px;
    margin-left: -8px;
    margin-right: -15px;
    margin-bottom: 80px;
}

section .two-column {
    display: flex;
}


.blog-list-component {
    max-width: 85%;
    float: right;
}
.blog-list-component img {
    max-width: 50%;
}



.project-text-container {
    display: flex;
}
 .project-image-container {
     overflow: hidden;
}
.project-image-container img {
    max-width: 100%;
}
.project-image-container img:hover {
    transform-origin: center top;
    transform: scale(1.35);
    will-change: transform;
    transition-property: transform;
    transition-duration: 1.6s;
    transition-timing-function: cubic-bezier(.3,.1,.1,1);
}




.arrownav img {
    width: 80px;
    size: 10px;
    position: fixed;
    top: 850px;
    right: 0px;
    z-index: 2;
}

.title-vertical {
    margin: 0;
    color:rgb(214, 186, 199);
    font-size: 5em;
    font-weight: normal;
    writing-mode: tb;
    text-orientation: sideways;
    padding-top: 10px;
}


.viewmore {
    font-size: 20px;
}

.title-horizontal {
    position: relative;
    z-index: 1;
    color:rgb(214, 186, 199);
    right: 20px;
    font-size: 5em;
    text-align: right;
}

/* Footer component styles */
.footer-component .footer-image, .footer-component .footer-icons {
    position: absolute;
    width: 100%;
}
.footer-component .footer-image {
    min-height: 100px;
}
.footer-component .footer-icons {
    display: flex;
}
.footer-component .footer-icons div {
    margin: 20px;
}
.footer-component .footer-icons div:hover{
    transform: scale(1.2);
}

